h1 {
    color: #421820;
    font-family: genty demo;
}
h2 {
    color: #421820;
    font-family: poppins;
}
h3 {
    color: #421820;
    font-family: poppins;
}
h6 {
    color: #421820;
    font-family: poppins;
}
ul {
    color: #421820;
    font-family: poppins;
}
table {
    color: #421820;
    font-family: poppins;
}
a {
    color: #421820;
    font-family: poppins;
}
input {
    color: #421820;
    font-family: poppins;
}
button {
    color: #421820;
    font-family: poppins;
}
p {
    color: #000000;
    font-family: poppins;
}
