  h1 {
    font-family: poppins;
    src: url(Poppins-Regular.ttf) format(ttf); 
}
h2 {
    font-family: poppins;
    src: url(Poppins-Regular.ttf) format(ttf); 
}
h3 {
    font-family: poppins;
    src: url(Poppins-Regular.ttf) format(ttf); 
}
p {
    font-family: poppins;
    src: url(Poppins-Regular.ttf) format(ttf); 
}
ul {
    font-family: poppins;
    src: url(Poppins-Regular.ttf) format(ttf); 
}
table {
    font-family: poppins;
    src: url(Poppins-Regular.ttf) format(ttf); 
}
a {
    font-family: poppins;
    src: url(Poppins-Regular.ttf) format(ttf); 
}
input {
    font-family: poppins;
    src: url(Poppins-Regular.ttf) format(ttf); 
}
button {
    font-family: poppins;
    src: url(Poppins-Regular.ttf) format(ttf); 
}
